@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@import '~bootstrap/scss/bootstrap';

html, body {
	font-family: 'Raleway', sans-serif;
	margin: 0px !important;
	color: #6f6969;
}

h1, h2, h3, h4, h5, h6, label, button, input, textarea, small, p, span, a {
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px !important;
}

.input-label {
    margin-bottom: 6px !important;
    display: block;
}


// -------------------------------------------------------------
// ELEMENT UI CUSTOM
// -------------------------------------------------------------
.el-loading-mask {
	z-index: 5000 !important;
}

.el-table__row .cell {
	font-size: 14px !important;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner, .el-select {
	width: 100% !important;
}
// -------------------------------------------------------------