@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@import '~bootstrap/scss/bootstrap';

html, body {
	font-family: 'Raleway', sans-serif;
	margin: 0px !important;
	color: #6f6969;
}

h1, h2, h3, h4, h5, h6, label, button, input, textarea, small, p, span, a {
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px !important;
}

strong {
	font-weight: 600 !important;
}

.input-label {
    margin-bottom: 6px !important;
    display: block;
}

.bg-opacity-danger {
	background-color: #dc35454a !important;
	transition: all 0.5s ease !important;
}
.bg-opacity-danger:hover {
	background-color: #dc354575 !important;
	transition: all 0.5s ease !important;
}

.bg-opacity-warning {
	background-color: #dca9354a !important;
	transition: all 0.5s ease !important;
}
.bg-opacity-warning:hover {
	background-color: #dca93575 !important;
	transition: all 0.5s ease !important;
}

.bg-opacity-success {
	background-color: #35dc424a !important;
	transition: all 0.5s ease !important;
}
.bg-opacity-success:hover {
	background-color: #35dc426e !important;
	transition: all 0.5s ease !important;
}

.bg-opacity-dark {
	background-color: #423c2f4a !important;
	color: white !important;
	transition: all 0.5s ease !important;
}
.bg-opacity-dark:hover {
	background-color: #423c2f7d !important;
	color: white !important;
	transition: all 0.5s ease !important;
}


.el-table__body tr.nullify-el-hover > td {
	background-color: unset !important;
}


// -------------------------------------------------------------
// ELEMENT UI CUSTOM
// -------------------------------------------------------------
.el-loading-mask {
	z-index: 5000 !important;
	position: fixed !important;
	height: 100vh !important;
}

.el-table__row .cell {
	font-size: 14px !important;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner, .el-select {
	width: 100% !important;
}

.el-table .cell {
	word-break: unset !important;
	white-space: unset !important;
	// background: red !important;
}
// -------------------------------------------------------------



// -------------------------------------------------------------
// TRUMBOWYG
// -------------------------------------------------------------
.trumbowyg-button-pane {
	background: unset !important;
}

.trumbowyg-box, .trumbowyg-editor {
	margin: 0px !important;
}

.trumbowyg-insertImage-button, .trumbowyg-fullscreen-button {
	display: none !important;
}

.trumbowyg-button-pane .trumbowyg-button-group::after {
	display: none !important;
}

// .trumbowyg-insertImage-button:parent, .trumbowyg-fullscreen-button:parent {
// 	display: none !important;
// }

// -------------------------------------------------------------